{{define "tail"}}
                </table>
                <div id="bottom"></div>
                {{ if not $.NoFooter }}
                <hr>
                <center>
                        Date and time is now: {{now}}<br>
                        <i>Arran4© 2004-2005, 2023-{{ now.Format "2006" }}; All works on this page copyrighted to their respective authors.</i>
                </center>
                {{ end }}
        </body>
</html>
{{end}}